* {
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
	margin: 0;
	padding: 0;
}

main {
  margin-top: 3em;
}
