.text {
  background-color: #0069aa;
  bottom: 0;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  transition: 0.3s;
  max-width: 340px
}

.wireframe:hover .text, .code:hover .text, .collaboration:hover .text {
  max-height: 100px;
  max-width: 340px;
  position: absolute;
  transition: 0.2s;
}
